.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.Post {
  border: 1px solid #ccc;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 50%;
}
